.cabecalho {
    background-color: var(--cor-12);
    padding: 20px 0;
}

.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.cabecalho__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.cabecalho__lista-links a {
    padding: 16px 0;
    display: inline-block;
    position: relative;
}

.cabecalho__lista-links a:after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: var(--cor-0);
    margin-top: 4px;
    position: absolute;
}

.cabecalho__lista-links a:hover::after,
.cabecalho__lista-links a.ativo::after {
    width: 100%;
    transition: 0.3s;
}

@media (max-width: 800px) {
    .cabecalho__lista {
        gap: 20px;
    }

    .cabecalho__lista-links a {
        background: var(--cor-11);
        padding: 12px 16px;
        border-radius: 4px;
    }

    .cabecalho__lista-links a:hover {
        background-color: var(--cor-10);
    }

    .cabecalho__lista-links a:after {
        display: none;
    }
}

@media (max-width: 600px) {
    .cabecalho__lista {
        gap: 12px;
    }

    .cabecalho__container {
        justify-content: center;
    }

    .cabecalho__lista-links a {
        padding: 8px 12px;
        font-size: 0.875rem;
    }
}