.introducao {
    background: var(--cor-12);
    box-shadow: inset 0 -120px var(--cor-0);
}

.introducao__container {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 0 20px;
}

.introducao__container img {
    height: 100%;
    object-fit: cover;
}

.introducao__container-conteudo {
    align-self: end;
    padding-bottom: 200px;
}

.introducao__container-titulo {
    margin-bottom: 32px;

}

.introducao__container-titulo span {
    color: var(--cor-p1);
}

.introducao__container-texto {
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .introducao__container-titulo {
        font-size: 3rem;
    }

    .introducao__container-texto {
        font-size: 1.125rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 800px) {
    .introducao {
        background: var(--cor-11);
        padding-top: 40px;
        box-shadow: inset 0 -60px var(--cor-0);
    }

    .introducao__container {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .introducao__container-conteudo {
        padding-bottom: 0px;
    }

    .introducao__container-titulo {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .introducao img {
        height: 300px;
        width: 100%;
    }
}