#seguros {
    padding-top: 0px;
}

.vantagens-bg {
    background-color: var(--cor-12);
}

.vantagens {
    padding-top: 60px;
    padding-bottom: 60px;
}

.vantagens__itens {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 60px 0px;
    gap: 50px;
}

.vantagens__itens img, h2 {
    margin-bottom: 8px;
}

.perguntas {
    padding: 160px 20px;
}

.perguntas h2 {
    margin-bottom: 60px;
}

.perguntas__frequentes {
    padding: 20px 20px;
}

.perguntas__frequentes h4 {
    display: flex;
    align-items: center;
}

.perguntas__frequentes h4::before {
    content: "";
    display: inline-block;
    height: 8px;
    width: 12px;
    background: var(--cor-p1);
    margin-right: 8px;
}

.perguntas__frequentes p {
    padding-left: 20px;
    padding-top: 16px;
    max-width: 80ch;
}

.perguntas__frequentes:nth-child(even) {
    background-color: var(--cor-1);
}

@media (max-width: 800px) {
    .perguntas {
        padding: 80px 20px;
    }

    .vantagens__itens {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {


    .perguntas h2 {
        font-size: 1.85rem;
        margin-bottom: 40px;
    }
}